# Decision Tree - Regression 1

In [2]:
import pandas as pd  
import numpy as np  
#import matplotlib.pyplot as plt  
#%matplotlib inline

In [3]:
df2 = pd.read_csv('D:\\New_Course\\python\\petrol_consumption.csv')

In [4]:
df2.shape

(48, 5)

In [5]:
df2.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [6]:
df2.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [7]:
X = df2.drop('Petrol_Consumption', axis=1)  
y = df2['Petrol_Consumption']

In [8]:
from sklearn.model_selection import train_test_split  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.tree import DecisionTreeRegressor 

regressor = DecisionTreeRegressor()  
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [9]:
y_pred = regressor.predict(X_test)

In [10]:
results=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
results

    Actual  Predicted
29     534      547.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      574.0
37     704      574.0
34     487      628.0
40     587      525.0
7      467      414.0
10     580      510.0

In [11]:
# RMSE by Pandas
((results.Actual - results.Predicted) ** 2).mean() ** .5

69.87560375410004

In [12]:
# RMSE by Numpy
(np.diff(results.values) ** 2).mean() ** .5

69.87560375410004